html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: "Arial";
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-color: #ffeeee;
    font-family: 'Open Sans', 'sans-serif';
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

a:hover   { color: #00c }  /* user hovers     */

.link {
    text-decoration: none;
}

textarea {
    resize: none;
}

html {
    position: relative;
    min-height: 100%;
}

.rightAlign {
    text-align: right;
}

.header {
    height: 50px;
    text-align: center;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #3e3838;
}

body > .container {
    padding: 60px 15px 0;
}

#mainContent {
    margin-bottom: 60px;
}

.navbar-nav>li {
    font-size: 18px;
}

.footer-text {
    color: white;
    text-align: center;
}

.footer > .container {
    padding: 10px 15px 0px 15px;
}

.label {
    display: inline-block;
    width: 100px;
}

.field {
    margin-top: 10px;
}

.fieldset {
    border: 1px solid black;
    padding: 10px;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.float-left {
    float: left;
}

.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.light-font .breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
}

.light-font .breadcrumb-item.active {
    color: #cfd8dc;
}

.association-img-container {
    position: relative;
}

.association-img {
    opacity: 0.5;
    width: 100%;
    height: auto;
}

.association-img-btn {
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    margin: 0px;
}

.langSelect {
    text-transform: capitalize;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #90acec;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-rotated.flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    /*background-color: #bbb;*/
    color: black;
}

/* Style the back side */
.flip-card-back {
    /*background-color: dodgerblue;*/
    color: white;
    transform: rotateY(180deg);
}

.usageExamples li {
    color: black;
    text-align: left;
}